// Framework
@import "settings";
@import "framework/all";

// Sprites
@import "mixins/sprite";
@import "partials/sprites";

// Partials
@import "partials/typography";
@import "partials/forms";
@import "partials/elements";

// slider
@import "partials/slick";

// Custom CSS below


::selection {
  background: $primary-color;
  color: black-or-white($primary-color, 65);
}
@font-face {
  font-family:'Melbourne-Bold';
  src: url('fonts/Melbourne-Bold_gdi.eot');
  src: url('fonts/Melbourne-Bold_gdi.eot?#iefix') format('embedded-opentype'),
  url('fonts/Melbourne-Bold_gdi.woff') format('woff'),
  url('fonts/Melbourne-Bold_gdi.ttf') format('truetype'),
  url('fonts/Melbourne-Bold_gdi.svg#Melbourne-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
//@font-face {
//  font-family:'Dosis-Book';
//  src: url('fonts/Dosis-Book_gdi.eot');
//  src: url('fonts/Dosis-Book_gdi.eot?#iefix') format('embedded-opentype'),
//  url('fonts/Dosis-Book_gdi.woff') format('woff'),
//  url('fonts/Dosis-Book_gdi.ttf') format('truetype'),
//  url('fonts/Dosis-Book_gdi.svg#Dosis-Book') format('svg');
//  font-weight: 400;
//  font-style: normal;
//  font-stretch: normal;
//}
@font-face {
  font-family:'ArialRegular';
  src: url('fonts/ArialMT_gdi.eot');
  src: url('fonts/ArialMT_gdi.eot?#iefix') format('embedded-opentype'),
  url('fonts/ArialMT_gdi.woff') format('woff'),
  url('fonts/ArialMT_gdi.ttf') format('truetype'),
  url('fonts/ArialMT_gdi.svg#ArialMT-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'ArialBold';
  src: url('fonts/Arial-BoldMT_gdi.eot');
  src: url('Arial-BoldMT_gdi.eot?#iefix') format('embedded-opentype'),
  url('fonts/Arial-BoldMT_gdi.woff') format('woff'),
  url('fonts/Arial-BoldMT_gdi.ttf') format('truetype'),
  url('fonts/Arial-BoldMT_gdi.svg#Arial-BoldMT') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
* {
  font-family: 'ArialRegular',sans-serif;
  font-weight:400;
}

p:empty {
  display: none;
}
strong, b {
  font-family: "ArialBold", sans-serif;
  font-weight:700;
}
sub {
    vertical-align: top;
    display: inline-block;
    margin-top:3px;
}
//Foundation Offset, Push and Pull
.small-push-1 {
  position: relative;
  left: 8.33333%; }

.small-pull-1 {
  position: relative;
  left: -8.33333%; }

.small-offset-0 {
  margin-left: 0%; }

.small-push-2 {
  position: relative;
  left: 16.66667%; }

.small-pull-2 {
  position: relative;
  left: -16.66667%; }

.small-offset-1 {
  margin-left: 8.33333%; }

.small-push-3 {
  position: relative;
  left: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-left: 16.66667%; }

.small-push-4 {
  position: relative;
  left: 33.33333%; }

.small-pull-4 {
  position: relative;
  left: -33.33333%; }

.small-offset-3 {
  margin-left: 25%; }

.small-push-5 {
  position: relative;
  left: 41.66667%; }

.small-pull-5 {
  position: relative;
  left: -41.66667%; }

.small-offset-4 {
  margin-left: 33.33333%; }

.small-push-6 {
  position: relative;
  left: 50%; }

.small-pull-6 {
  position: relative;
  left: -50%; }

.small-offset-5 {
  margin-left: 41.66667%; }

.small-push-7 {
  position: relative;
  left: 58.33333%; }

.small-pull-7 {
  position: relative;
  left: -58.33333%; }

.small-offset-6 {
  margin-left: 50%; }

.small-push-8 {
  position: relative;
  left: 66.66667%; }

.small-pull-8 {
  position: relative;
  left: -66.66667%; }

.small-offset-7 {

  margin-left: 58.33333%; }
.small-push-9 {
  position: relative;
  left: 75%; }

.small-pull-9 {
  position: relative;
  left: -75%; }

.small-offset-8 {
  margin-left: 66.66667%; }

.small-push-10 {
  position: relative;
  left: 83.33333%; }

.small-pull-10 {
  position: relative;
  left: -83.33333%; }

.small-offset-9 {
  margin-left: 75%; }

.small-push-11 {
  position: relative;
  left: 91.66667%; }

.small-pull-11 {
  position: relative;
  left: -91.66667%; }

.small-offset-10 {
  margin-left: 83.33333%; }

.small-offset-11 {
  margin-left: 91.66667%; }

@media screen and (min-width: 40em) {
  .medium-push-1 {
    position: relative;
    left: 8.33333%; }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%; }
  .medium-offset-0 {
    margin-left: 0%; }
  .medium-push-2 {
    position: relative;
    left: 16.66667%; }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%; }
  .medium-offset-1 {
    margin-left: 8.33333%; }
  .medium-push-3 {
    position: relative;
    left: 25%; }
  .medium-pull-3 {
    position: relative;
    left: -25%; }
  .medium-offset-2 {
    margin-left: 16.66667%; }
  .medium-push-4 {
    position: relative;
    left: 33.33333%; }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%; }
  .medium-offset-3 {
    margin-left: 25%; }
  .medium-push-5 {
    position: relative;
    left: 41.66667%; }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%; }
  .medium-offset-4 {
    margin-left: 33.33333%; }
  .medium-push-6 {
    position: relative;
    left: 50%; }
  .medium-pull-6 {
    position: relative;
    left: -50%; }
  .medium-offset-5 {
    margin-left: 41.66667%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    left: 58.33333%; }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%; }
  .medium-offset-6 {
    margin-left: 50%; }
  .medium-push-8 {
    position: relative;
    left: 66.66667%; }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%; }
  .medium-offset-7 {
    margin-left: 58.33333%; }
  .medium-push-9 {
    position: relative;
    left: 75%; }
  .medium-pull-9 {
    position: relative;
    left: -75%; }
  .medium-offset-8 {
    margin-left: 66.66667%; }
  .medium-push-10 {
    position: relative;
    left: 83.33333%; }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%; }
  .medium-offset-9 {
    margin-left: 75%; }
  .medium-push-11 {
    position: relative;
    left: 91.66667%; }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%; }
  .medium-offset-10 {
    margin-left: 83.33333%; }
  .medium-offset-11 {
    margin-left: 91.66667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    width: 100%;
    float: left; }
  .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
    float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    width: 50%;
    float: left; }
  .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
    float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    width: 33.33333%;
    float: left; }
  .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
    float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    width: 25%;
    float: left; }
  .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
    float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    width: 20%;
    float: left; }
  .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
    float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    width: 16.66667%;
    float: left; }
  .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
    float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    width: 14.28571%;
    float: left; }
  .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
    float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    width: 12.5%;
    float: left; }
  .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
    float: left; }
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; }
}
@media screen and (min-width: 64em) {
  .large-push-1 {
    position: relative;
    left: 8.33333%; }
  .large-pull-1 {
    position: relative;
    left: -8.33333%; }
  .large-offset-0 {
    margin-left: 0%; }
  .large-push-2 {
    position: relative;
    left: 16.66667%; }
  .large-pull-2 {
    position: relative;
    left: -16.66667%; }
  .large-offset-1 {
    margin-left: 8.33333%; }
  .large-push-3 {
    position: relative;
    left: 25%; }
  .large-pull-3 {
    position: relative;
    left: -25%; }
  .large-offset-2 {
    margin-left: 16.66667%; }
  .large-push-4 {
    position: relative;
    left: 33.33333%; }
  .large-pull-4 {
    position: relative;
    left: -33.33333%; }
  .large-offset-3 {
    margin-left: 25%; }
  .large-push-5 {
    position: relative;
    left: 41.66667%; }
  .large-pull-5 {
    position: relative;
    left: -41.66667%; }
  .large-offset-4 {
    margin-left: 33.33333%; }
  .large-push-6 {
    position: relative;
    left: 50%; }
  .large-pull-6 {
    position: relative;
    left: -50%; }
  .large-offset-5 {
    margin-left: 41.66667%; }
  .large-push-7 {
    position: relative;
    left: 58.33333%; }
  .large-pull-7 {
    position: relative;
    left: -58.33333%; }
  .large-offset-6 {
    margin-left: 50%; }
  .large-push-8 {
    position: relative;
    left: 66.66667%; }
  .large-pull-8 {
    position: relative;
    left: -66.66667%; }
  .large-offset-7 {
    margin-left: 58.33333%; }
  .large-push-9 {
    position: relative;
    left: 75%; }
  .large-pull-9 {
    position: relative;
    left: -75%; }
  .large-offset-8 {
    margin-left: 66.66667%; }
  .large-push-10 {
    position: relative;
    left: 83.33333%; }
  .large-pull-10 {
    position: relative;
    left: -83.33333%; }
  .large-offset-9 {
    margin-left: 75%; }
  .large-push-11 {
    position: relative;
    left: 91.66667%; }
  .large-pull-11 {
    position: relative;
    left: -91.66667%; }
  .large-offset-10 {
    margin-left: 83.33333%; }
  .large-offset-11 {
    margin-left: 91.66667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    width: 100%;
    float: left; }
  .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
    float: left; }
  .large-up-2 > .column, .large-up-2 > .columns {
    width: 50%;
    float: left; }
  .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
    float: left; }
  .large-up-3 > .column, .large-up-3 > .columns {
    width: 33.33333%;
    float: left; }
  .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
    float: left; }
  .large-up-4 > .column, .large-up-4 > .columns {
    width: 25%;
    float: left; }
  .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
    float: left; }
  .large-up-5 > .column, .large-up-5 > .columns {
    width: 20%;
    float: left; }
  .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
    float: left; }
  .large-up-6 > .column, .large-up-6 > .columns {
    width: 16.66667%;
    float: left; }
  .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
    float: left; }
  .large-up-7 > .column, .large-up-7 > .columns {
    width: 14.28571%;
    float: left; }
  .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
    float: left; }
  .large-up-8 > .column, .large-up-8 > .columns {
    width: 12.5%;
    float: left; }
  .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
    float: left; }
  .large-push-0,
  .large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: left; }
}

.text-center {
  text-align: center;
}

html,
body {
  height: 100%;
  font-family: 'ArialRegular', sans-serif;
  font-weight:400;
}

.main {
    overflow: hidden;
    position: relative;
}
.home .main {
    padding-top:0;
}



span {
    font-size:14px;
    line-height: 1.5;
}
h1,h2,h3,h4,h5 {
  color: $text-color;
  margin: 0;
  font-family: 'Melbourne-Bold', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-weight:400;
}

h2 {
  color:$text-color;
  font-family: 'ArialRegular', sans-serif;
  font-size:29px;
  line-height:34px;
  margin:0 auto 25px;
  font-weight:400;
  text-transform: uppercase;
}

h3 {
  color:$text-color;
  font-family: 'ArialRegular', sans-serif;
  font-size:20px;
  line-height:30px;
  margin:0 auto 25px;
  font-weight:400;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 12px;
}

h5 {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 12px;
}

.alignright {
  margin-left:60px;
}

.alignleft {
  margin-right:60px;
}

p {
    font-family: 'ArialRegular', sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-top: 0;
    &:last-child {
      margin-bottom:0;
    }
}

ul, ol {
  margin:0 0 25px;
  padding: 0 0 0 16px;
}

li {
  font-size:16px;
  line-height: 1.5;
  font-family: 'ArialRegular', sans-serif;
  font-weight:400;
}

a {
  color:$secondary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color:$secondary-color;
  }
  &:focus {
    color:$secondary-color;
  }
}


// NAVIGATION

ul[id*=menu] {
  margin: 0;
  padding: 0;
  font-size: 0;
  li {
    display: inline-block;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

#menu-top-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-footer-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-mobile-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}
.poland-menu {
  .main-nav {
    li {
      a {
        font-family: 'Dosis', sans-serif;
        font-weight:600;
      }
    }
  }
}
.main-nav {
    display:block;
    text-align:right;
    li {
        margin-left:17px;
        line-height:19px;
          a {
              color:#000;
              font-family: 'Melbourne-Bold', sans-serif;
              font-weight: 700;
              text-transform: uppercase;
              text-decoration: none;
              font-size:19px;
              line-height:19px;
              display:block;
              &:hover {
                color:$secondary-color;
                text-decoration: none;
              }
          }
          &.current-menu-item,
          &.current-page-ancestor,
          &.current-menu-parent {
              a {
                color:$secondary-color;
              }
          }
          &.symbol {
            a {
                &:after {
                    content:'®';
                    font-size:12px;
                    vertical-align: super;
                }
            }
        }
      }
      



    .menu-item-has-children {
        position: relative;
        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: -1px;
            z-index: 600;
            background:#fff;
            border-radius: 0 0 8px 8px;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
        }

        &:hover {
            .sub-menu {
                display: block;
                background: #fff;
                min-width:140px;
                padding: 15px 0 4px 0;
                li {
                    display: block;
                    text-align: left;
                    margin:0;
                    a {
                        display: block;
                        font-size: 14px;
                        line-height: 18px;
                        padding:3px 13px;
                        color:#bab5b3;
                        &:hover {
                          color:$primary-color;
                          text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}


section {
  text-align: center;
  .title {
    color: #000;
    font-weight: 700;
    font-size: 16.67px;
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      left: 50%;
      margin-left: -5px;
      height: 2px;
      width: 10px;
      background: #000;
      bottom: -18px;
    }
  }

  p {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
  }
}



.section_about {
  background: #fff;
  padding-top: 140px;
  padding-bottom: 56px;
}

.section_map {
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
}

.section_brands {
  background: #f1f3f4;
  padding-top: 51px;
  padding-bottom: 30px;

  .title {
    margin-bottom: 50px;
  }

  .brand {
    background: #fff;
    border-radius: 0 0 20px 0;
    position: relative;
    padding-left: 372px;
    margin-bottom: 21px;
    min-height: 154px;
    text-align: left;
    padding-right: 184px;
    padding-top: 30px;
    &:after {
      content: '';
      position: absolute;
      right: 36px;
      top: 50%;
      margin-top: -22px;
      width: 34px;
      height: 44px;
      display: inline-block;
      background: url(images/arr-r.png) no-repeat 0 0;
    }

    img {
      position: absolute;
      top: 10px;
      left: 127px;
      width: 120px;
    }

    &.brand_2 {
      img {
        left: 140px;
        width: 102px;
      }
    }
    &.brand_3 {
      img {
        left: 147px;
        width: 80px;
      }
    }
    &.brand_4 {
      img {
        left: 136px;
        width: 90px;
      }
    }

    strong {
      text-transform: uppercase;
    }

    .brand__title {
      color: #0a1c54;
      display: block;
      font-size: 20.83px;
      margin-bottom: 4px;
    }

    p {
      color: #a8abb0;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.section_details {
  padding-top: 46px;
  padding-bottom: 30px;
  .title {
    margin-bottom: 50px;
  }
  p {
    color: #5d5d5f;
    font-size: 16px;
    line-height: 1.5;
    border-left: 1px solid #5d5d5f;
    padding: 14px 10px 13px 10px;
  }


}

.section_contact {
  padding-top: 88px;
  background: #5f6062;
  .wpcf7-select {
    color: #000;
  }
  label {
    color: #fff;
    font-size: 13.75px;
    display: inline-block;
    width: 169px;
    vertical-align: top;
    line-height: 32px;
  }

  input[type=text],
  input[type=email],
  textarea {
    border: 0 !important;
    outline: none !important;
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    width: 300px !important;
    display: inline-block !important;
    font-size: 13.75px;
  }

  span.wpcf7-not-valid-tip {
    color: #FF7878;
  }

  div.wpcf7-response-output.wpcf7-validation-errors {
    color: #fff;
    font-size: 13.75px;
  }


  div.wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #fff;
    font-size: 13.75px;
  }
  textarea {
    height: 86px !important;
    font-size: 13.75px !important;
  }

  .w_submit {
    margin-top: 20px;
  }


  .title {
    color: #fff;
    &:after {
      background: #fff;
    }
  }

  p {
    color: #fff;
    margin-bottom: 22px;
  }

  .subtitle {
    margin-bottom: 36px;
  }

  .w_form {
    text-align: left;

    .columns {
      padding-right: 100px;
      /*padding-left: 0;*/
    }
  }

  .wpcf7 {
    padding-top: 20px;
  }
}


.section_map {
  img {
    display: block;
    width: 100%;
    max-width: none;
  }
}

 .f_logo {
    /*margin-top: 98px;*/
    margin-bottom: 40px;
    margin: 0 auto 40px;
    width: 388px;
    height: 67px;
    display: block;
  }

footer {
  background: #fff;



  .social {
    font-size: 0;

    .ico {
      display: inline-block;
      margin-left: 4px;
      width: 39px;
      height: 39px;
      text-decoration: none;
      background-repeat: no-repeat;
      background-position: 0 0;

    }

    .ico_fb {
      background-image: url(images/ico-fb.png);
    }
    .ico_in {
      background-image: url(images/ico-ln.png);
    }
  }

  .link {
    text-decoration: none;
    line-height: 40px;
    color: #fff;
    font-size: 9.58px;
  }

  .copy_right {
    text-align: right;
    padding-right: 100px;
    padding-top: 150px;
  }

 

  .copy {
    display: block;
    margin-bottom: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #58585a;
    color: #fff;
    font-size: 9.58px;
  }
}

.search {
  display: inline-block;
  vertical-align: middle;
  input {
    background: #fff;
    outline: none !important;
    border: 1px solid #8c8b8d;
    height: 24px;
    font-size: 16px;
    border-right: 0;
    vertical-align: middle;
    width: 155px;
    padding-left: 10px;
  }

  button {
    width: 24px;
    height: 24px;
    background: url(images/ico-s.png) 0 0 no-repeat;
    outline: none !important;
    border: none !important;
    vertical-align: middle;
    padding: 0;
  }
}

.collapsed {
  margin-left: auto !important;
  margin-right: auto !important;
}






.menu-icon {
  color: #FFF;
  display: block;
  height: 2.5rem;
  padding: 0;
  position: absolute;
  z-index: 400;
  right: 13px;
  top: 26px;
  transform: translate3d(0, 0, 0);
  width: 34px;
  &:before,
    &:after {
    content: "";
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    background: #94c356;
    width: 34px;
    height: 4px;
    left: 0;
  }
  &:before {
    box-shadow: 0 8px 0 0 #94c356;
    position: absolute;
  }
  &:after {
    position: absolute;
    top: 16px;
  }
  &.opened {
    &:before {
      box-shadow: 0 0 0 0 transparent;
      transform: rotate(225deg);
      top: 7px;
    }
    &:after {
      transform: rotate(315deg);
      top: 7px;
    }
  }
}

// ELEMENTS
.svg-sprite-inline-fallback {
  display: none!important;
}
.sidebar {
  margin: 12px 0 0;
  padding: 0;
  > li {
    list-style: none;
    &:last-child {
      margin-bottom: 42px;
    }
  }
}

.w_pagination {
  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding-left: 9px;
    li {
      list-style: none;
      display: inline-block;
      a {
        font-size: 16px;
        line-height: 33px;
        display: inline-block;
        height: 33px;
        width: 33px;
        text-align: center;
        background: #ccc;
        color: #fff;
        text-decoration: none;
        margin-right: 8px;

        &.prev,
        &.next {
          display: none;
        }
      }
      &.current {
        a {
          color: #333;
          background: #f3f3f3;
        }
      }
    }
  }
}

.btn {
  cursor: pointer;
  color: #fff;
  //background: $primary-color;
  background: #0082cb;
  border-radius: 30px;
  font-family: 'ArialBold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  transition: .2s background;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color:#fff;
    background-color: darken($primary-color, 5);
  }
}
.shortcodebutton {
  margin-bottom:25px;
}



.btn.btn_blue {
  background: $secondary-color;
  &:hover, &:focus, &:active {
    text-decoration: none;
    color:#fff;
    background-color: darken($secondary-color, 5);
  }
}

// CONTACT FORM 7
.contact-form-wrapper {
  padding-bottom:65px;
}

.wpcf7-form {
  p {

  }
  label {
    display: block;
    margin-bottom:7px;
    span {
      color:#ff0000;
    }
  }
  .wpcf7-form-control-wrap {
    display: block;
  }
  .wpcf7-radio {
    span {
      cursor: pointer;
    }
  }
  .wpcf7-text,
  .wpcf7-textarea {
    border: 1px solid #bfbfbf;
    color: #a0a0a0;
    font-size: 14px;
    padding-left: 9px;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
  .checkbox-title {
    display: block;
    padding-top:11px;
    padding-bottom:10px;
    line-height:24px;
  }
  span.wpcf7-list-item {
    margin-left:0;
    font-size:0;
    display: inline-block;
    position: relative;
    input[type="checkbox"] {
      width:19px;
      height:19px;
      display: block;
      position: absolute;
      left:0;
      top:0;
      z-index:100;
      opacity: 0;
    }
    .wpcf7-checkbox {
      display: block;
    }

    .bezorgadres {
      display: block;
    }


    .wpcf7-list-item-label {
      padding-left: 32px;
      position: relative;
      z-index: 10;
      display: inline-block;
      &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        top: 3px;
        left: 2px;
        padding: 1px;
        border-radius: 3px;
      }
      &:after {
        content: '';
        position: absolute;
        width: 19px;
        height: 19px;
        top: 1px;
        left: 0px;
        padding: 1px;
        border-radius: 3px;
        border:1px solid #bfbfbf;
      }
    }
    input[type="checkbox"]:checked + span {
      &:before {
        background:$primary-color;

      }
    }
  }
  .wpcf7-text {
    height: 35px;
    line-height: 35px;
    width: 100%;
  }
  .wpcf7-textarea {
    height: 113px;
    padding-top: 6px;
    display: block;
    width: 100%;
    resize: none;
  }
  > p {
    margin-bottom:35px;
  }
  .wpcf7-submit {
    outline: none;
    cursor: pointer;
    color: #fff;
    background: $primary-color;
    border-radius: 30px;
    font-family: 'ArialBold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    transition: .2s background;
    &:hover, &:focus, &:active {
      text-decoration: none;
      color:#fff;
    }
  }
}
//CLEARFIX\
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block; 
    height: 0; 
    overflow: hidden;
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
// 404 page

label[for=s] {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
  display: block;
  vertical-align: middle;
}

#s {
  font-size: 18px;
  padding-left: 14px;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  &:focus {
    outline: none;
  }
}

// SLICK SLIDER FIX

.slick-slide:focus {
  outline: none;
}

.hasCustomSelect {
  z-index: 5;
  cursor: pointer;
  width: 100% !important;
}

.customSelect {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13.75px;
  line-height: 32px;
  height: 32px;
  width: 300px !important;
  color: #000;
  padding-left: 10px;
  background: #fff;
  &:after {
    position: absolute;
    content: '';
    display: inline-block;
    background: url(images/arr-d.jpg) no-repeat 50% 60% #2caae0;
    width: 32px;
    height: 44px;
    right: 0px;
    top: 0;
    margin-top: -10px;
  }
}  

.links_mobile {
  display: none;
}



//Header
.header{
    border-bottom:10px solid $secondary-color;
    padding-bottom:54px;
    .row {
        display: flex;
        .top-nav-section {
            align-self: flex-end;
        }
        
    }
    .logo {
        display: block;
        margin-top: 34px;
        position: relative;
        z-index: 999;
        margin-bottom: -41px;
        svg {
            width: 220px;
            height: 100px;
        }
    }
}
.page-title {
  padding-top:75px;
}
.top-equal{
  position: relative;
  width:100%;
  .text-centered {
    padding:20px 0 20px;
  }
}
.top-equal-wrapper {
  display: table;
  .top-equal {
    display: table-cell;
    vertical-align: middle;
  }
}

.top-image {
    background-color:#cccccc;
    min-height:373px;
    margin-bottom:139px;
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position: center center;
    .text-holder {
        width:100%;
        .first-line {
            display: block;
            font-size:65px;
            line-height:72px;
            color:#000;
            text-transform: uppercase;
            font-family: 'Dosis', sans-serif;
            font-weight:400;
        }
        .second-line {
            display: block;
            font-size:29px;
            line-height:36px;
            color:#60d2d0;
            text-transform: uppercase;
            font-family: 'Dosis', sans-serif;
            font-weight:600;
        }
    }   
}
.home {
  .top_slider_wrapper {
    margin-bottom:-80px;
    &.mobile {
      display: none;
    }
    img {
      display: block;
      width:100%;
    }
  }
}

//Content

.text-wrapper {
    position: relative;
}
.product-preview-wrapper {
    min-height: 373px;
}
.product-preview {
    width:auto;
    max-width:100%;
    max-height:490px;
    position:absolute;
    right:0;
    bottom:-170px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.content-wrapper {
    max-width:600px;
    margin:0 auto 30px;
}
.home-content {
  h1 {
    font-family: 'ArialRegular', sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:1.5;
    color: #000;
    margin-bottom:25px;
  }
}
.content-section {
  padding-top:25px;
}
.image-section {
    overflow:hidden;
    position:relative;
    min-height:257px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    &:before, &:after {
        content: '';
        top: -35px;
        opacity: 0.2;
        left: 10%;
        right: 10%;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        background: #000;
        box-shadow: 0px 0px 35px 25px #000;
    }
    &:after {
        top:auto;
        bottom: -35px;
    }
}
.text-narrow-width-section {
  .section-content {
    padding-bottom:50px;
  }
  .text {
    margin-bottom: 30px;
  }
  .images_list_wrapper {
    text-align: center;
    font-size:0;
    .images_list_item {
      text-align: center;
      width:20%;
      vertical-align: top;
      display: inline-block;
      min-width:130px;
      margin-bottom:30px;
      img {
        display: block;
        margin:0 auto 17px;
      }
      .image_description {
        display: block;
      }
    }
  }
  .section_description {
    margin-bottom:6px;
  }

}
.table-section {

  &.white {
    table tr td {
      border:2px solid #000;
    }
  }

  table {
    tr {
      td {
        border:2px solid #fff;
        padding:5px 9px 4px;
        strong {
          text-transform: uppercase;
        }
        ul, ol {
          margin:0;
          padding:5px 0 5px 15px;
          li {
            padding:0;
          }
        }
      }
    }
  }
}

.iframe_for_video {
  iframe {
    width:100%!important;
  }
}
.opsomming-section {
  ol {
    padding:0;
    margin:0;
    counter-reset: my-counter;
    li {
      padding-left:100px;
      list-style: none;
      position: relative;
      font-size:14px;
      line-height:17px;
      padding-top:6px;
      margin-bottom:17px;
      &:before {
        position: absolute;
        left:0;
        top:0;
        font-size:28px;
        line-height:43px;
        font-family: 'ArialBold', sans-serif;
        font-weight:700;
        color:#fff;
        background:$secondary-color;
        width:43px;
        height:43px;
        display: block;
        border-radius: 50%;
        text-align: center;
        content: counter(my-counter);
        counter-increment: my-counter;
      }
    }
  }
}
.about-section.home-section {
  background:$primary-color;
  padding: 100px 0 60px;
  text-align:center;
  .about-wrapper {
    max-width:600px;
    margin:0 auto;
  }
  p {
    margin-bottom:48px;
  }
  h2 {
    color:#fff;
    background:#000;
    border-radius: 30px;
    font-family: 'ArialBold', sans-serif;
    font-weight:700;
    font-size:15px;
    line-height:21px;
    padding:5px 25px;
    display: inline-block;
    margin:0 auto 47px;
    text-align: center;
  }
  .about-content {
    margin:0 auto;
  }
  .about-content-second {
    margin:0 auto;
    p {
      margin-bottom:40px;
    }
  }

  .list-title {
    color:#000;
    background:transparent;
    border-radius: 30px;
    border:1px solid #000;
    font-family: 'ArialBold', sans-serif;
    font-weight:700;
    font-size:15px;
    line-height:21px;
    display: inline-block;
    padding:4px 25px;
    margin:0 auto 25px;
    text-align: center;
  }
  .list-wrapper {
    margin-bottom: 30px;
    .list-item {
      background:#ffffff;
      color:#000;
      border-radius: 30px;
      display: block;
      max-width:510px;
      font-family: 'ArialRegular', sans-serif;
      font-weight:400;
      font-size:15px;
      line-height:21px;
      padding:5px 15px;
      margin:0 auto 10px;
      text-align: center;
    }
  }
}

.about-section {
  h2 {
    padding-top:10px;
  }
  ul {
    margin:0;
    padding:7px 0 25px;
    overflow: hidden;
    li {
      background-color:#0082cb;
      color:#fff;
      font-size:14.5px;
      line-height:18px;
      padding:7px 18px 6px;
      display: block;
      float:left;
      border-radius:30px;
      clear: both;
      margin:0 0 12px;
    }
  }
  &.blue {
    ul {
      margin:0;
      padding:7px 0 25px;
      overflow: hidden;
      li {
        background-color:#339bd5;
        color:#fff;
        font-size:14.5px;
        line-height:18px;
        padding:7px 18px 6px;
        display: block;
        float:left;
        border-radius:30px;
        clear: both;
        margin:0 0 12px;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.description-section {
    text-align: center;
    padding: 70px 0;
    overflow:hidden;
    .description-content {
        p {
          margin-bottom:35px;
        }
    }
    h2 {
        margin:0 auto 25px;
    }
    .list-title {
        color:#000;
        background:transparent;
        border-radius: 30px;
        display: block;
        max-width:293px;
        border:1px solid #000;
        font-family: 'ArialBold', sans-serif;
        font-weight:700;
        font-size:15px;
        line-height:21px;
        padding:4px 15px;
        margin:0 auto 25px;
        text-align: center;
    }
    .list-wrapper {
        margin: 0 auto 40px;
        .list-item {
            background:#ffffff;
            color:#000;
            border-radius: 30px;
            display: block;
            font-family: 'ArialRegular', sans-serif;
            font-weight:400;
            font-size:15px;
            line-height:21px;
            padding:3px 0;
            margin:0 auto 10px;
            text-align: center;
            p {
                margin:0;
                line-height:16px;
            }
            &.set_a_border {
                padding:7px 25px 6px;
                border:1px solid $primary-color;
            }
        }
        .clearfix:last-of-type {
            .list-item {
                margin-bottom:0;
            }
        }
    }
    .second-product-wrapper {
        width:100%;
        padding-left: 10%;
        padding-top: 25px;
    }
    .second-product-preview {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        float:right;
        max-width:460px;
        width:100%;
        position: relative;
    }
    .download-link {
        font-size:15px;
        line-height:26px;
        padding:0 21px;
        background: $primary-color;
        color:#fff;
        margin-bottom:10px;
        display: inline-block;
        border-radius: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .download-subtitle {
        display: block;
        font-weight: 700;
        text-align: center;
    }
}


.accordion {
  padding-top:65px;
  padding-bottom:112px;
  .accordion-toggle {
    font-size: 16px;
    line-height: 19px;
    background-color:$secondary-color;
    color: #fff;
    border-radius:5px;
    display: block;
    font-family: 'ArialBold', sans-serif;
    font-weight:700;
    position: relative;
    z-index:20;
    cursor: pointer;
    padding: 20px 40px 19px 21px;
    margin-bottom:17px;
    &:before {
      position: absolute;
      top: 17px;
      right: 35px;
      content: '-';
      font-family: 'ArialBold', sans-serif;
      font-weight:700;
      font-size:24px;
      line-height:24px;
      display: block;
      opacity: 0;
      width:14px;
      height:24px;
      text-align: center;
    }
    &:after {
      position: absolute;
      top: 20px;
      right: 35px;
      content: '+';
      font-family: 'ArialBold', sans-serif;
      font-weight:700;
      font-size:24px;
      line-height:24px;
      display: block;
      opacity: 1;
      width:14px;
      height:24px;
      text-align: center;
    }
    &.active {
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }
    .date_in_title {
      color:#fff;
      display: inline-block;
      font-family: 'ArialBold',sans-serif;
      font-weight:700;
      margin-right:20px;
      position: relative;
      &:after {
        position: absolute;
        top:-1px;
        right:-12px;
        color:#000;
        content:"|";
      }

    }

  }
  .accordion-content {
    border:1px solid #bfbfbf;
    border-radius: 5px;
    padding:32px 21px 26px;
    background:#fff;
    position: relative;
    z-index:10;
    top:-25px;
    margin-bottom:-8px;
    p {
      font-size:16px;
      line-height:1.5;
      &:last-child {
        margin-bottom:0;
      }
    }
    .btn {
      margin-bottom:9px;
    }
    ul {
      padding:0;
      margin:0 0 23px;
      list-style: none;
      li {
        padding-left:12px;
        position: relative;
        &:before {
          position: absolute;
          left:0;
          content:'-';
        }
      }
    }
  }
}

//Flexible sections
.separator {
  background:$secondary-color;
  height:3px;
}

.flex-section {
  &.blue {
    background-color:$secondary-color;

    .btn {
      //color: #0f6aa3;
      color: #0082cb;
      background: #fff;

      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }

    p, li, h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
    &.special-li {
      li {
        background-color: transparent;
        border:1px solid white;
      }
    }
  }
  .text {
    display: block;
  }
  &.special-li{
    ul {
      padding:0;
      overflow: hidden;
    }
    p {
      margin-bottom:25px!important;
    }
    li {
      list-style: none;
      border-radius: 30px;
      border:1px solid $secondary-color;
      float: left;
      clear: both;
      padding:4px 16px 3px;
      margin-bottom:11px;
    }
  }
  .image_wrapper {
    padding:80px 0;
  }
}
.wide-image-section {
  .columns {
    min-height:10px;
  }
}
.section-table {
  width:100%;
  display: table;
  .section-cell {
    display: table-cell;
    vertical-align: middle;
    .image_image {
      .image_element {
        display: block;
      }
    }
  }
}
.section-content {
  padding:80px 0;
}

//Top Image styles
.home {
  .top_image_wrapper {
    margin-bottom:-80px;
  }
}
.top_image_wrapper {
  position: relative;

  img {
    width:100%;
    display: block;
  }
  .top_image_title_wrapper {
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:0;
    padding: 0 10px;
    bottom:0;
    z-index:10;
    .columns {
    }
  }
  h1 {
    position: absolute;
    left:10px;
    right:10px;
    top:50%;
    transform:translateY(-50%);
  }
}
//Products
.products-post-type {
  padding-top:65px;
  padding-bottom: 97px;
  .product-wrapper {
    border:1px solid #b8b8b8;
    padding:27px 27px 29px;
    margin-bottom:15px;
    .featured_image {
      display: block;
      text-decoration: none;
      max-width:360px;
      margin:0 auto 9px;
      border:1px solid #959595;
      width:100%;
      .image_element {
        margin:0 auto;
        display: block;
      }
    }
    .product-description {
      max-width:250px;
      margin:0 auto;
      text-align: center;
      .product-title {
        font-size:15px;
        line-height:18px;
        margin:0 0 5px;
        text-transform: uppercase;
        .title_for_display_blue, .title_for_display_black {
          font-family: 'ArialBold', sans-serif;
          font-weight:700;
          font-size:15px;
          line-height:18px;
        }
        .title_for_display_blue {color:$primary-color;}
      }
      .short_description {
        font-size:14px;
        line-height:17px;
        margin-bottom:15px;
      }
    }
  }
}
//Products Single
.product-description {
  .text {
    padding-bottom:25px;
  }
  .add-product {
    .quantity-wrapper {
      padding-bottom:45px;
      .quantity {
        width:30px;
        height:30px;
        line-height:30px;
        display: inline-block;
        margin-left:5px;
      }
    }
  }
}
//Shopping cart
.checkout-wrapper {
  padding-top:65px;
  p {
    margin-bottom:12px;
  }
}
.form-body {
  padding-bottom:50px;
}
.checkout-form {
  padding-bottom:85px;

}
.shopping-cart-big {
  padding-bottom:85px;
  .cart-memory {
  }
  .btn {
    float:right;
  }
  .merchant-list {
    margin:0;
    padding:0;
    list-style: none;
    li {
      font-size:0;
      border-bottom:2px solid $primary-color;
      padding:14px 0;
      margin-bottom:16px;
      width:100%;
      display: table;
      .featured-img {
        display: table-cell;
        vertical-align: middle;
        border:1px solid #959595;
        text-align: center;
        width:180px;
        height:173px;
      }
      .cart-pro-title {
        padding-left:20px;
        display: table-cell;
        vertical-align: middle;
      }
      .cart-pro-price {
        position: relative;
        width:180px;
        font-size:19px;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        .pro-price {
          font-size:19px;
        }
        .pro-close {
          width:14px;
          height:14px;
          display: block;
          position: absolute;
          background-image:url("images/close-icon.png");
          background-size:cover;
          right:-34px;
          top:50%;
          margin-top:-9px;
        }
      }
      .pro-name {
        font-size:19px;
        display: table-cell;
        vertical-align: middle;
        width:500px;
      }
      .pro-count {
        font-size:19px;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        width:100px;
      }
    }
  }
  .total-pro {
    display: table;
    float:right;
    width:280px;
    .total-text {
      display: table-cell;
      vertical-align: middle;
      height:95px;
      width:80px;
      text-align: right;
      font-size:24px;
      font-family: "ArialBold", sans-serif;
      font-weight:700;
      padding-bottom:25px;
    }
    .total-price {
      display: table-cell;
      vertical-align: middle;
      height:85px;
      text-align: right;
      font-size:24px;
      font-family: "ArialBold", sans-serif;
      font-weight:700;
      padding-bottom:16px;
      .total-pro-price {
        font-size:24px;
        font-family: "ArialBold", sans-serif;
        font-weight:700;
      }

    }
  }
}

.shopping-cart-wrapper {
  align-self: flex-end;
  text-align: right;
  position:relative;
  .shopping-cart-button {
    cursor: pointer;
    font-size:12px;
    font-family: 'Melbourne-Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    background-color: $secondary-color;
    position: relative;
    z-index:1;
    line-height:21px;
    padding:3px 48px 3px 16px;
    border-radius: 30px;
    display: none;
    &.active {
      background-color: $primary-color;
      color:#fff;
    }
    &:after {
      content:"";
      @include sprite(shopping-cart2);
      display: block;
      position: absolute;
      top:50%;
      margin-top:-9px;
      right:15px;
      z-index:2;
      pointer-events:none;
    }
  }
  .shopping-cart-popup {
    display: block;
    height:0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    visibility: hidden;
    &.active{
      height:auto;
      visibility: visible;
      opacity: 1;
    }
    position: absolute;
    width:276px;
    top:33px;
    right:0;
    z-index:100;
    padding:0 12px;

    //transform: translate(-100%, 0);
    .cart {
      padding:17px 14px;
      background:#fff;
      text-align: left;
      -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.35);
      box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.35);
      &:before {
        content:'';
        position: absolute;
        width: 0;
        height: 0;
        top:-12px;
        right:41px;
        border-style: solid;
        border-width: 0 11px 12px 11px;
        border-color: transparent transparent #fff transparent;
      }
      .merchant-list {
        margin:0;
        list-style: none;
        padding:0 0 5px;
        display: table;
        width:100%;
        border-bottom:1px solid $primary-color;
        li {
          display: table-row;
          .pro-name,.pro-count,.cart-pro-price {
            display: table-cell;
            font-size:12px;
            line-height:17px;
          }
          .pro-name {
            width:157px;
          }
          .pro-count {
            text-align: right;
            padding-right:10px;
            font-family: "ArialBold", sans-serif;
            font-weight:700;
          }
          .cart-pro-price {
            text-align: right;
            font-family: "ArialBold", sans-serif;
            font-weight:700;
          }
          .cart-pro-title {
            display: table-cell;
          }
          .pro-price {
            display: inline-block;
            text-align: right;
            min-width:30px;
            font-size:12px;
            line-height:17px;
            font-family: "ArialBold", sans-serif;
            font-weight:700;
          }
        }
      }
      .pro-close,.featured-img {
        display: none;
      }
      .total-pro {
        padding-top:10px;
        display: table;
        width:100%;
        .total-text {
          display: table-cell;
          vertical-align: bottom;
          font-family: "ArialBold", sans-serif;
          font-weight:700;
          font-size:14px;
        }
        .total-price {
          display: table-cell;
          width:88px;
          text-align: right;
          font-family: "ArialBold", sans-serif;
          font-weight:700;
          font-size:21px;
          line-height:21px;
          .total-pro-price {
            font-family: "ArialBold", sans-serif;
            font-weight:700;
            font-size:21px;
            line-height:21px;
          }
        }

      }
    }
  }
}
//Contact Page
.contact-wrapper {
  padding-top:85px;
  padding-bottom:70px;
  strong {
  }
  .logo-otc-wrapper {
    margin-top:-80px;
    svg {
      display: block;
      width:250px;
      height:60px;
    }
  }
}
//woocommerce styles
.woocommerce .products ul, .woocommerce ul.products {
  margin:0 -10px;
  padding-top: 65px;
  padding-bottom: 97px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width:50%;
  padding:0 10px;
  margin:0 0 15px;
}
.woocommerce ul.products li.product a {
  display: block;
  border: 1px solid #b8b8b8;
  padding: 27px 27px 29px;
  margin:0;
  text-align: center;
  .before_shop_loop_wrapper {
    display: block;
    text-decoration: none;
    max-width: 360px;
    margin: 0 auto 9px;
    border: 1px solid #959595;
    width: 100%;
     img {
       width:auto;
       max-width:100%;
       margin:0 auto;
     }
  }
}
.shop_loop_item_description {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }
}

.woocommerce ul.products li.product .onsale {
  display: none;
}
.woocommerce ul.products li.product .title_wrapper {
  font-family: 'ArialBold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  color:$primary-color;
  h3 {
    font-family: 'ArialBold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 5px;
    padding:0;
    display: inline-block;
  }
}

.woocommerce div.product form.cart .button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: $primary-color;
  border-radius: 30px;
  font-family: 'ArialBold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: .2s background;
  transition: .2s background;
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: darken($primary-color, 5);
  }
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  a.button {
    background:#fff;
    color:#000;
  }
}

.woocommerce-page div.product div.images {
  float:right;
  width:50%;
  padding:0 10px;
}
.woocommerce div.product {
  margin:0 -10px;
  overflow: hidden;
  padding:85px 0 65px;
  div.images img {
    width:auto;
    max-width:100%;
    background-attachment: hidden;
  }
}
.woocommerce div.product form.cart div.quantity {
  float:none;
  margin-bottom:45px;
  .qty {
    width:40px;
    height:30px;
    padding:0;
    margin:0;
    text-align: center;
    outline: none;
  }
}

.woocommerce div.product div.images, .woocommerce div.product div.summary {
  margin-bottom:20px;
  padding-left:10px;
  padding-right:10px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  display: none;
}

.shopping-cart-wrapper .shopping-cart-popup .cart .cart-title {
  font-family: "ArialBold", sans-serif;
  font-weight:700;
}
.woocommerce ul.product_list_widget {
  display: table;
  width:100%;
}

.woocommerce.widget_shopping_cart .cart_list li {
  display: table-row;
  padding:0;
  a {
    display: table-cell;
    font-size: 12px;
    line-height: 17px;
    color:#000;
    font-family: 'ArialRegular', sans-serif;
    font-weight:400;
    padding:0;
  }
  .quantity {
    display: table-cell;
    font-size: 12px;
    line-height: 17px;
    padding:0;
    font-family: "ArialBold", sans-serif;
    font-weight:700;
    text-align: right;
    width:90px;
    .amount {
      font-size: 12px;
      line-height: 17px;
      font-family: "ArialBold", sans-serif;
      font-weight:700;
      display: inline-block;
      min-width:50px;
    }
    .woocommerce-Price-currencySymbol {
      font-size: 12px;
      line-height: 17px;
      font-family: "ArialBold", sans-serif;
      font-weight:700;
    }
  }
}
.woocommerce.widget_shopping_cart .btn {
  width:100%;
}
.woocommerce.widget_shopping_cart .total {
  border-top:1px solid $primary-color;
  display: table;
  width:100%;
  margin-top:5px;
  padding-top: 10px;
  .woocommerce-Price-amount {
    display: table-cell;
    vertical-align: top;
    width: 88px;
    text-align: right;
    font-family: "ArialBold", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
  }
}
.woocommerce.widget_shopping_cart .total strong {
  display: table-cell;
  vertical-align: bottom;
  font-family: "ArialBold", sans-serif;
  font-weight: 700;
  font-size: 14px;

}

.woocommerce.widget_shopping_cart .woocommerce-Price-currencySymbol {
  font-family: "ArialBold", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.post-type-archive-product.woocommerce {
  h1 {
    margin-left:-10%;
  }
}

.woocommerce table.shop_table {
  margin-bottom:0;
  border:none;
  tbody tr td {
    border:none;
  }
}
.btn.updatecart {
  outline: none;
  padding: 5px 20px;
  opacity: 1;
  background:#000;
  transition: all 0.2s ease-out;
  &:disabled {
    opacity: 0;
  }
}
.woocommerce-cart table.cart img {
  width:auto;
  max-width:100%;
  display: block;
  margin:0 auto;
}
.woocommerce-cart table.shop_table tbody .cart_item  td {
  padding-bottom:14px;
  padding-top:30px;
  border-bottom:2px solid $primary-color;
}
.woocommerce-cart table.cart .product-thumbnail {
  width:180px;
  padding:0;
  vertical-align: middle;
  a {
    display: block;
    border: 1px solid #959595;
    text-align: center;
    width: 180px;
    height: 173px;
  }
}
.woocommerce-cart table.cart .product-name {
  padding-left: 20px;
  vertical-align: middle;
  width: 510px;
  a {
    font-size: 19px;
    line-height:19px;
    color:#000;
  }
}
.woocommerce-cart table.cart .product-quantity {
  padding-left: 10px;
  padding-right:10px;
  width: 100px;
  vertical-align: middle;
  .quantity {
    text-align: right;
    span {
      display: none;
    }
    .qty {
      border:none;
      font-size:19px;
      outline: none;
      text-align: left;
      width:40px;
    }
  }
}
.woocommerce-cart table.cart .product-price {
  width:190px;
  padding-left: 10px;
  padding-right:0;
  text-align: right;
  vertical-align: middle;
  position: relative;
  .remove {
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    background-image: url("images/close-icon.png");
    background-size: cover;
    right: -34px;
    top: 50%;
    margin-top: -2px;
    border-radius: 0;
    &:hover {
      background-color:transparent;
    }
  }
  .woocommerce-Price-amount {
    font-size:19px;
  }
  .woocommerce-Price-currencySymbol {
    font-size:19px;
  }
}
.woocommerce-page table.cart td.actions {
  padding-left:0;
  padding-right:0;
}
.woocommerce-page .cart-collaterals .cart_totals {
  width:280px;
}
.woocommerce-cart .cart-collaterals {
  h2 {
    display: none;
  }
  p {
    margin-bottom:0;
  }
  a {
    color:$primary-color;
  }
  .cart-subtotal {
    display: none;
  }
  .cart_totals tr th, .cart_totals tr td {
    border-top:2px solid $primary-color;
    padding:10px 0;
  }
  .cart_totals tr td {
    text-align: right;
  }
  .cart_totals .shipping {
    td,th {
      font-size:16px;
      border-top:none;
      padding-top:0;
      padding-bottom:7px;
    }

  }
  .cart_totals .order-total {
    td,th {
      padding:20px 0 25px;
      font-size: 24px;
      font-family: "ArialBold", sans-serif;
      font-weight: 700;
      .woocommerce-Price-amount {
        font-size: 24px;
        font-family: "ArialBold", sans-serif;
        font-weight: 700;
        .woocommerce-Price-currencySymbol {
          font-size: 24px;
          font-family: "ArialBold", sans-serif;
          font-weight: 700;
        }
      }
    }

  }
}
.woocommerce-cart .wc-proceed-to-checkout {
  padding:0;
  text-align: right;
  a.checkout-button {
    cursor: pointer;
    color: #fff;
    background-color: $primary-color;
    border-radius: 30px;
    font-family: 'ArialBold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin:0;
    transition: .2s background;
    &:hover {
      background: darken($primary-color, 5);
    }
  }
}
.woocommerce input.button.alt, .woocommerce input.alt[type="submit"] {
  background-color:$primary-color;
  &:hover {
    background-color: darken($primary-color, 5);
  }
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  cursor: pointer;
  color: #fff;
  background-color: $primary-color;
  border-radius: 30px;
  font-family: 'ArialBold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin:0;
  transition: .2s background;
  &:hover {
    background:darken($primary-color, 5);
  }
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce  .woocommerce-message {
  background-color:#b9b5b4;
  color:#fff;
  border-radius: 30px;
  border:none;
  font-size: 15px;
  line-height: 21px;
  padding: 10px 20px 10px 45px!important;
  a {
    color:#fff;
    text-decoration: underline;
  }
  a.button.wc-forward {
    color:#fff;
    text-decoration: none;
    position: absolute;
    top:5px;
    right:20px;
  }
}
.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before {
  top:10px;
  left:15px;
  color: #fff;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  border: 1px solid #bfbfbf;
  color: #a0a0a0;
  font-size: 14px;
  line-height:16px;
  padding:0 9px;
  border-radius: 4px;
  height: 35px;
  width: 100%;
}
.woocommerce form .form-row textarea,
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text{
  height: 113px;
  padding-top: 6px;
  display: block;
  width: 100%;
  resize: none;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
  border-color:#a00;
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
  display: block;
  line-height:1.5;
  margin-bottom: 7px;
}
.woocommerce form .form-row {
  line-height: 1.5;
  margin-bottom: 25px;
  margin-top: 0;
  padding:0;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {

}
//Footer
.footer {
  .footer-info {
    .footer-wrapper {
      margin:0 auto;
      max-width:83.3333333%;
    }
    text-align: center;
    background:#b9b5b4;
    padding:70px 0 90px;

    .row {
      >.columns {
        float:left;
      }
    }
    .footer-logo {
      a {
        display:block;
      }
      text-align:left;
      svg {
        width:236px;
        height:57px;
      }
    }
    .footer-contant {
      .footer-sections {
        padding: 12px 0px 12px 8px;
        border-left:1px solid #fff;
        text-align:left;
        p {
          a { color:#fff;}
          margin:0;
          color:#fff;
          line-height:16px;
        }
      }
    }
  }
  h2 {
    color: #414141;
    background: #fff;
    border-radius: 30px;
    max-width: 271px;
    font-family: 'ArialBold', sans-serif;
    font-weight:700;
    font-size: 15px;
    line-height: 21px;
    padding: 5px 25px;
    text-transform: uppercase;
    margin: 0 auto 75px;
    text-align: center;
  }
}

// RESPONSIVE


@media only screen
and (max-width : 1200px) {

}



@media only screen
and (max-width : 1120px) {
}

@media only screen
and (max-width : 1024px) {
    .header .row {
      display: block;
    }
    .content-wrapper {
        max-width:505px;
    }
    p, span {font-size:16px;}
    .header {
        border-width:6px;
        padding-bottom:35px;
        .logo {
            width:163px;
            margin:43px auto 20px;
            svg {
                width:163px;
                height:29px;
            }
        }
        .main-nav {
            text-align: center;
        }
        .shopping-cart-wrapper {
          padding-top:10px;
          text-align: center;
        }
    }
    .main-nav {
        li {
            a {
              font-size:17px;
            }
        }
    }
    .top-image {
        margin-bottom:102px;
        .text-holder {
            .first-line{
                font-size:40px;
                line-height:45px;
            }
            .second-line {
                font-size:21px;
                line-height:28px;
            }
        }
    }
    .product-preview-wrapper {
        position: relative;
        min-height:241px;
        .product-preview {
            max-width: 100%;
            max-height: 360px;
            width: auto;
            bottom:-128px;
        }
    }
    .top-image {
        min-height:242px;
    }
    .top_slider_wrapper {
      margin-bottom: -20px;
    }
    .top_image_wrapper {
      margin-bottom: -20px;
    }
    .image-section {
        min-height:160px;
    }
    .about-section {
        padding: 75px 0 40px;
        .about-content {
            max-width:420px;
            margin:0 auto;
        }
        h2 {
            margin: 0 auto 37px;
        }
        .list-wrapper {
            .list-item {
              font-size:16px;
              line-height:1.5;
              padding:7px 15px 6px;
            }
        }
    }

    .content-wrapper {
        margin:0 auto;
    }
    .description-section {
        .list-title {
            font-size:16px;
        }
        .description-content {
            p {
                margin-bottom:35px;
            }
        }
        .list-wrapper {
            margin-bottom: 30px;
            .list-item {
                padding:3px 25px;
                &.set_a_border {
                  padding: 7px 25px 6px;
                  margin-bottom:7px;
                }
            }
        }
        .download-link {
            font-size:11px;
            line-height:18px;
        }
        .second-product-wrapper {
            .second-product-preview {
                width:100%;
            }
        }


    }
    .contact-wrapper {
      .logo-otc-wrapper {
        margin-top:20px;
      }
    }
    .footer {

      h2 {
        margin: 0 auto 33px;
      }
      .footer-info {
        padding: 35px 0 44px;
        .footer-logo {
          svg {
            width:145px;
            height:35px;
          }
        }
        .footer-contant {
          text-align: left;
          .footer-sections {
            border:none;
            padding: 4px 0;
            p {
              font-size:16px;
              line-height:normal;

            }
          }
        }
      }
      .copy {
        height:25px;
        line-height:25px;
      }
      .link {
        line-height:25px;
      }


    }
    
    
    
    
}

@media only screen
and (max-width : 900px) {
}
@media only screen
and (max-width : 850px) {
}
@media only screen
and (max-width : 767px) {
}
@media only screen
and (max-width : 640px) {
    p, span {
        font-size: 16px;
        line-height:1.5;
    }

    .header {
        padding-bottom:10px;
        .logo {
            margin:45px auto 20px;
            width:220px;
            svg {
                width:220px;
                height:37px; 
            }
        }
        .row {
            display: block;
            
        }
    }
    .main-nav {
        text-align: center;
        li {
            margin:0 10px 5px!important;
            a {
                font-size:17px;
                &:after {
                    text-decoration: none;
                }
            }
        }
    }

    .product-preview-wrapper {
        min-height:170px;
        .product-preview {
            max-width:100%;
            max-height: 260px;
            width:auto;
            bottom:-70px;
        }
    }
    .top-image {
        min-height:170px;
        .text-centered {
        }
        .text-holder {
            .first-line {
                font-size:26px;
                line-height:30px;
            }
            .second-line {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    .content-wrapper {
        padding-top:15px;
    }
    .image-section {
        min-height:115px!important;
    }
    .about-section {
        padding: 35px 0 0;
        h2 {
            margin:0 auto 20px;
        }
        p {
            margin-bottom:25px;
        }
        .about-content {
            margin:0 auto;
        }
        .about-content-second {
            p {
                margin-bottom:35px;
            }
        }
        .list-wrapper {
            .list-item {
                font-size:16px;
                line-height:1.5;
                max-width:400px;
                padding:3px 15px;
                margin:0 auto 5px;
            }
        }
        .about-content-second {
            width:100%;
        }
        
    }
    .description-section {
        padding:0 0 50px;
            .list-title {
                font-size:16px;
            }
        .list-wrapper {
            margin: 0 auto 30px;
            .list-item {
                &.set_a_border {
                    padding: 2px 15px;
                    margin-bottom: 5px;
                }
                p {
                    font-size:16px;
                    line-height:1.5;
                    margin:0;
                }
            }
        }
        .second-product-wrapper {
            float:none;
            margin:0;
            padding:25px 0 0 40px;
        }
        .second-product-preview {
            padding-top:20px;
            max-width: 230px;
            float: none;
            display: block;
            width: 100%;
            margin: 0 auto !important;
            
        }
        .download-link {
            font-size:12px;
            line-height:24px;
        }
    }
  
    .top_slider_wrapper {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
    .home .top_image_wrapper {
      margin:0;
    }
    .home {
      .top_slider_wrapper {
        margin:0;
        &.desktop {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
    }
    .footer {
        h2 {
            margin:0 auto 30px;
        }
        .footer-info {
            padding: 30px 0 15px;
            .footer-logo {
                text-align: center;
                padding-bottom:15px;
                svg {
                    width:136px;
                    height:33px;
                }
            }
            .footer-contant {
                margin:0 auto;
                .columns {
                    padding:0 4px;
                }
                .footer-sections {
                    text-align: center;
                    margin-bottom:15px;
                    p {
                        font-size:16px;
                        line-height:1.5;
                    }
                }
            }
        }
    }
    footer .copy, footer .link {
        height:22px;
        line-height:22px;
    }
  .flex-section {
    padding:40px 0 20px;
  }
  .section-content {
    padding:0 0 20px;
  }
  table {
    margin-bottom:20px;
  }
  .image_image .image_element {
    margin-bottom:20px;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width:100%;
  }
  .post-type-archive-product.woocommerce h1 {
    margin-left:0;
  }
  .woocommerce-page div.product div.images {
    float:none;
    width:100%;
  }
  .shopping-cart-wrapper .shopping-cart-popup .cart:before {
    display: none;
  }
  .shopping-cart-wrapper .shopping-cart-popup {
    top:45px;
    right:50%;
    margin-right:-140px;
  }
  .woocommerce-cart table.cart .product-name,
  .woocommerce-cart table.shop_table tbody .cart_item td{
    width:auto;
    padding-left:10px;
    padding-right:10px;
  }
  .woocommerce-page .cart-collaterals .cart_totals{
    width:auto;
  }
  .woocommerce-cart .cart-collaterals .cart_totals .shipping td {
    padding-left:10px;
    padding-right:10px;
  }
}

@media only screen
and (max-width : 568px) {
}

@media only screen
and (max-width : 450px) {

}



@media only screen
and (max-height : 450px) {
 
}