// Custom pagination for archives
.pagination-centered {
    width: 100%;
    text-align: center;

    .pagination {
        list-style: none;

        li {
            display: inline;
            margin: 0 8px;
        }
    }
}

// Buttons
.button {
    padding: 14px 34px;
    background: $primary-color;
    color: black-or-white($primary-color, 65);
    border: none;
    cursor: pointer;

    &:hover {
        background: darken($primary-color, 10%);
    }
}