.sprite-circular {
	width: 28px;
	height: 28px;
	background-position: 0 0;
}

.sprite-clear {
	width: 23px;
	height: 23px;
	background-position: 0 -35px;
}

.sprite-cloud {
	width: 32px;
	height: 23px;
	background-position: 0 -65px;
}

.sprite-cougner-logo {
	width: 71px;
	height: 16px;
	background-position: 0 -95px;
}

.sprite-dark {
	width: 23px;
	height: 23px;
	background-position: 0 -120px;
}

.sprite-logo {
	width: 270px;
	height: 46px;
	background-position: 0 -150px;
}

.sprite-logo-menorelax {
	width: 347px;
	height: 350px;
	background-position: 0 -205px;
}

.sprite-logo-otc {
	width: 252px;
	height: 62px;
	background-position: 0 -560px;
}

.sprite-logo-otc-color {
	width: 367px;
	height: 91px;
	background-position: 0 -630px;
}

.sprite-menorelax-com {
	width: 373px;
	height: 377px;
	background-position: 0 -730px;
}

.sprite-menorelax-nl {
	width: 374px;
	height: 377px;
	background-position: 0 -1115px;
}

.sprite-menorelax-pl {
	width: 365px;
	height: 365px;
	background-position: 0 -1500px;
}

.sprite-shopping-cart2 {
	width: 20px;
	height: 18px;
	background-position: 0 -1870px;
}

.sprite-thermometer {
	width: 12px;
	height: 32px;
	background-position: 0 -1895px;
}

.sprite-tmd {
	width: 16px;
	height: 16px;
	background-position: 0 -1935px;
}

.sprite-twister {
	width: 26px;
	height: 32px;
	background-position: 0 -1960px;
}

.sprite-circular, .sprite-clear, .sprite-cloud, .sprite-cougner-logo, .sprite-dark, .sprite-logo, .sprite-logo-menorelax, .sprite-logo-otc, .sprite-logo-otc-color, .sprite-menorelax-com, .sprite-menorelax-nl, .sprite-menorelax-pl, .sprite-shopping-cart2, .sprite-thermometer, .sprite-tmd, .sprite-twister {
	background-size: 380px 2000px;
	background-repeat: no-repeat;
	background-image: url("images/sprites.png");
}

.svg .sprite-circular, .svg .sprite-clear, .svg .sprite-cloud, .svg .sprite-cougner-logo, .svg .sprite-dark, .svg .sprite-logo, .svg .sprite-logo-menorelax, .svg .sprite-logo-otc, .svg .sprite-logo-otc-color, .svg .sprite-menorelax-com, .svg .sprite-menorelax-nl, .svg .sprite-menorelax-pl, .svg .sprite-shopping-cart2, .svg .sprite-thermometer, .svg .sprite-tmd, .svg .sprite-twister {
	background-image: url("images/sprites.svg");
}
